body {
  background: #f6e7e6;
  font-family: "Poppins", sans-serif;
}

.App .container {
  margin: 20px;
}

.App h1 {
  text-align: center;
}

.App a {
  color: #878ecd;
  text-decoration: none;
}

.App footer {
  font-size: 10px;
  margin: 30px;
  text-align: center;
}
