body {
  background: #f6e7e6;
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
  max-width: 900px;
}

.App h1 {
  text-align: center;
  margin-top: 30px;
  font-size: 40px;
  font-weight: bold;
}

.App a {
  color: #878ecd;
  text-decoration: none;
}

.App footer {
  font-size: 10px;
  margin: 30px;
  text-align: center;
}
